body{
    background-color: #FFF1C8; /* transparent, GTK backgroun theme of wiget will show */
    margin-right: 10% !important;
    margin-left: 10% !important;
    margin-top: 25px !important;
    margin-bottom: 75px !important;
}

html * /* Sets those rules for every single html child element */
{
    color: #000000;
    background-color: #FFF1C8;
    font-family: 'Roboto', sans-serif;
}

::-moz-selection {
    background-color: #5E559A;
    color: #ffffff;
}

::selection {
    background-color: #5E559A;
    color: #ffffff;
}
