body{
    background-color: rgba(23,22,30,255) !important; /* transparent, GTK backgroun theme of wiget will show */
    margin-right: 10% !important;
    margin-left: 10% !important;
    margin-top: 25px !important;
    margin-bottom: 75px !important;
}

html * /* Sets those rules for every single html child element */
{
    color: #E0E0E0 !important;
    background-color: rgba(23,22,30,255) !important; /* transparent, GTK backgroun theme of wiget will show */
    font-family: 'Roboto', sans-serif !important;
}

::-moz-selection {
    background-color: #5E559A;
    color: #ffffff;
}

::selection {
    background-color: #5E559A;
    color: #ffffff;
}
